#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on init
    # Fingerprint
    write /sys/class/lcd/panel/mask_brightness 486

on boot
    # Fingerprint
    chmod 0660 /dev/goodix_fp
    chown system system /dev/goodix_fp

    # NFC - eSE
    chmod 0660 /dev/p3
    chown secure_element secure_element /dev/p3
